@model NetCoreSample.Models.Movie

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Your favorite movie is:</title>
</head>
<body>
    <h1>@Model.Id</h1>
    <h1>@Model.Title</h1>
    <h1>@Model.Description</h1>
    <h1>@Model.DateOfRelease</h1>
    <h1>@Model.Genre</h1>
</body>
</html>